<!DOCTYPE html>
<html>
<head>
<title>Bike Application</title>

<style>
body{
margin:0;
font-family:Arial;
background-image:url("https://images.unsplash.com/photo-1558981806-ec527fa84c39");
background-size:cover;
background-position:center;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:rgba(0,0,0,0.6);
padding:50px;
border-radius:10px;
text-align:center;
color:white;
}
</style>

</head>

<body>

<div class="container">
<div class="card">
<h1>🏍 Welcome to BIKE Application v1</h1>
<p>GitOps Demo using ArgoCD + Kubernetes + EKS</p>
</div>
</div>

</body>
</html>
