<!DOCTYPE html>
<html>
<head>
<title>Books Application</title>

<style>
body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1512820790803-83ca734da794');
  background-size: cover;
  background-position: center;
}

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background: rgba(0,0,0,0.6);
  padding:50px;
  border-radius:10px;
  text-align:center;
  color:white;
}

h1 {
  font-size:40px;
}

p {
  font-size:20px;
}
</style>

</head>

<body>

<div class="container">
  <div class="card">
      <h1>📚 Welcome to TEST BOOKS Application v1</h1>
      <p>GitOps Demo using ArgoCD + Kubernetes + EKS</p>
  </div>
</div>

</body>
</html>
